@font-face {
    font-family: 'metal';
    src: url('../fonts/Heavy\ Metal\ Rocking.ttf') format('truetype');
}

body {
    background: url(../images/background.jpg);
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #333;
    box-shadow: 0 8px 6px -6px black;
    font-family: 'metal', Fallback, serif;
    z-index: 10;
}

h1 {
    color: white;
    line-height: 95px;
}

#main-content {
    position: relative;
    /* To push below fixed header */
    margin-top: 100px;
    width: 95%;
    max-width: 960px;
    border: 8px ridge #333;
    font-family: 'metal', Fallback, serif;
    font-size: .9em;
    min-height: 400px;
}

#main-content p {
    padding-top: 5px;
    color: #111;
}

.body-container img {
    position: absolute;
    height: 100%;
    width: auto;
}

img:not(:first-child) {
    visibility: hidden;
}

#stats-pane, #game-pane {
    border-left: 4px ridge #333;
}

#game-pane p, #stats-pane p {
    padding: 15px;
}
#correct-words p {
    padding: 0;
}

.btn-group .btn {
    padding-top: 15px;
    font-size: .9em;
}

#blanks, #guessed-letters {
    font-family: Arial, Helvetica, sans-serif;
}

#blanks {
    font-size: 4em;
}

#guessed-letters {
    font-size: 2.5em;
}

#audio-player {
    box-shadow: -2px -2px 6px -2px black;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #F0F3F4;
    color: #333;
    border-top-left-radius: 5px;
    z-index: 20;
}

#winloss {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background: #666;
    border-radius: 5px;
    padding: 30px;
    font-size: 3em;
    z-index: 20;
}